@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  background-color: #bdbdbd;
}
/* Primera sección */

.main {
 max-width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.main-details,
.main-img {
  width: 40%;
  height: 100vh;
  font-family: "Mina", sans-serif;
}

.main-details {
  width: 50%;
  background-color: #e1bee7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-details-info {
  width: 60%;
  margin: auto;
}

.main-details h2,
.main-details h1 {
  font-size: 2.5vmax;
  word-spacing: 0.5rem;
}

.main-details h1 span {
  font-family: "Monoton", sans-serif;
  letter-spacing: 3px;
  color: #e040fb;
}

.text-container {
  background-color: #7b1fa2;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;

  color: #ffffff;
  text-align: center;
}

.text-container p {
  margin: 0;
  font-size: 1.1vmax;
}

.info {
  font-size: 0.9vmax;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.btn-about,
.btn-send {
  position: relative;
  background-color: #7b1fa2;

  width: fit-content;
  padding: 1rem;

  margin: 2rem auto;
  border-radius: 0.5rem;

  transition: all 0.2s ease;
}

.btn-about:hover,
.btn-send:hover {
  box-shadow: 0 5px 25px 5px #e040fb;
  outline: 1px solid #e040fb;
}

.btn-about a,
.btn-send {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 1rem;
  font-size: 1.1vmax;
  border: none;
}

.main-img {
  width: 50%;
  background-color: #000000;
  background-image: url("https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilos para dispositivos pequeños */

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
    
  }

  .main-details,
  .main-img {
    width: 100%;
  }

  .main-details {
    height: fit-content;

    justify-content: flex-start;

    padding-top: 2rem;
  }

  .main-details-info {
    width: 90%;
    height: fit-content;
  }

  .main-details h2,
  .main-details h1 {
    font-size: 3vmax;
  }

  .text-container {
    width: fit-content;
    margin-top: 1rem;
  }

  .text-container p {
    font-size: 1.5vmax;
  }

  .info {
    margin-top: 0.5rem;
    font-size: 2vmax;
  }

  .btn-about,
  .btn-send {
    padding: 0.5rem;
    margin-top: 0;
  }

  .btn-about a,
  .btn-send {
    font-size: 1.5vmax;
  }

  .main-img {
    height: 50%;
  }
}

/* Estilos para otras secciones */

.about,
.tecnologies,
.proyects,
.contacts {
  width: 100%;
  min-height: 100vh;
  background-color: #bdbdbd;
}

.about {
  height: fit-content;
}

.section-title {
  font-size: 5vmin;
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
  border: #7b1fa2 double;
  width: 90%;
  margin: auto;
  text-transform: uppercase;
 
}

.article-container {
  width: 90%;
  vertical-align: middle;
  margin: 0 auto;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  gap: 1vmax;
}
.col {
  background-color: #9c27b0;
}

.col:hover {
  box-shadow: 0 5px 25px 5px #e040fb;
  outline: 1px solid #e040fb;
}

/* Estilos sección contacto */


.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container a{
  color: #212121;
  font-size: 1.5rem;

  bottom: 0;
}

.contact-form input,
.contact-form textarea{
  width: 75%;
 /*  align-self: center; */
  font-family: "Mina", sans-serif;

  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;

 
}
.contacts-icons{
  width: 25%;
}

@media screen and (max-width:920){
 
.contact-form input,
.contact-form textarea{
  width: 100%;}
  .contacts-icons{
   width: 100%;
   
  }
 }
 

/* Estilos para la barra lateral */
#sidebar-wrapper {
  width: fit-content;
  min-width: 250px;
  background-color: #e1bee7;
  height: 100vh;

  display: flex;
  flex-direction: column;

  position: sticky;

  top: 0;
}


@media screen and (max-width: 992px) {
  #sidebar-wrapper {
    min-width: fit-content;
  }

  .sidebar-img {
    width: 100px !important;
    height: auto;
  }
}

.sidebar-img {
  width: 250px;
  height: auto;
}

.menu {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 1.5rem 0;
  padding: 0;

  font-size: 1vmax;
}

.menu-items {
  align-self: center;

  font-family: "Mina", sans-serif;
  font-size: 1.5rem;

  padding: 0.5rem;

  list-style-type: none;
}

.menu-items a {
  color: #212121;
  letter-spacing: 2px;
  text-decoration: none;
}

.menu-items a::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #e040fb;
  transform: scale(0, 1);
  transition: transform 0.25s;
}
.menu-items:hover {
  text-shadow: 0 5px 5px #e040fb;
}

.menu-items a.selected {
  text-shadow: 0 5px 5px #e040fb;
}

.menu-items a.selected::after {
  transform: scale(1, 1);
}

