@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  
}

body{
    background-color: #BDBDBD;
}
/* Primera sección */

.main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.main-details,
.main-img {
  width: 40%;
  height: 100vh;
  font-family: "Mina", sans-serif;
}

.main-details {
  width: 50%;
  background-color: #e1bee7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-details-info {
  width: 60%;
  margin: auto;
}

.main-details h2,
.main-details h1 {
  font-size: 2.5vmax;
  word-spacing: 0.5rem;
}

.main-details h1 span {
  font-family: "Monoton", sans-serif;
  letter-spacing: 3px;
  color: #e040fb;
}

.text-container {
  background-color: #7b1fa2;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;

  color: #ffffff;
  text-align: center;
}

.text-container p {
  margin: 0;
  font-size: 1.1vmax;
}

.info {
  font-size: 0.9vmax;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.btn-about {
  position: relative;
  background-color: #7b1fa2;

  width: fit-content;
  padding: 1rem;

  margin: 2rem auto;
  border-radius: 0.5rem;

  transition: all 0.2s ease;
}

.btn-about:hover {
  box-shadow: 0 5px 25px 5px #e040fb;
  outline: 1px solid #e040fb;
}

.btn-about a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 1rem;
  font-size: 1.1vmax;
}

.main-img {
  width: 50%;
  background-color: #000000;
  background-image: url("https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column-reverse;
   
  }

  .main-details,
  .main-img {
    width: 100%;
  }

  .main-details {
    height: fit-content;

    justify-content: flex-start;

    padding-top: 2rem;
  }

  .main-details-info {
    width: 90%;
    height: fit-content;
  }

  .main-details h2,
  .main-details h1 {
    font-size: 3vmax;
  }

  .text-container {
    width: fit-content;
    margin-top: 1rem;
  }

  .text-container p {
    font-size: 1.5vmax;
  }

  .info {
    margin-top: 0.5rem;
    font-size: 2vmax;
  }

  .btn-about {
    padding: 0.5rem;
    margin-top: 0;
  }

  .btn-about a {
    font-size: 1.5vmax;
  }

  .main-img {
    height: 50%;
  }

 
}

/* Segunda sección */

.about,
.tecnologies,
.proyects,
.contacts {
  width: 100%;
  height: 100vh;
  background-color: #bdbdbd;
}

.tecnologies{
    background-color: antiquewhite;
}

.contacts{
    background-color: aqua;
}
#sidebar-wrapper {
width: fit-content; 
 min-width: 250px;
  background-color: #9c27b0;
  height: 100vh;

  display: flex;
  flex-direction: column; 

  position: sticky;
 
  top:0;
  
 
  
}

@media screen and (max-width: 992px){
  #sidebar-wrapper{
   min-width: fit-content;
  }

  .sidebar-img{
    width: 100px !important;
    height: auto;
   

  }

  
} 

.sidebar-img {
  width: 250px;
  height: auto;
}

.menu {
  flex-grow: 1;

  

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 1.5rem 0;
  padding: 0;

  font-size: 1vmax;
}

.menu-items {
  align-self: center;

  font-family: "Mina", sans-serif;
  font-size: 1.5rem;

  padding: 0.5rem;

  list-style-type: none;
}



.menu-items a {
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
}


/* #wrapper.toggled #sidebar-wrapper {
    width: 0;
} */

/* #page-content-wrapper {
    transition: all 0.3s ease;
}
 */
/* #wrapper.toggled #page-content-wrapper {
    margin-right: 0;
}
 */
